---
postgresql:
    username: bodgery
    passwd: 
    database: bodgery
    host: localhost
    port: 5432

memberpress:
    user: bodgery
    passwd: bodgery
    base_url: https://mms.thebodgery.org

password_storage:
    type: bcrypt
    bcrypt:
        difficulty: 10

build_id:
build_branch:
build_date:
