---
postgresql:
    username: bodgery
    passwd: 
    database: bodgery
    host: localhost
    port: 5432

memberpress:
    user: bodgery
    passwd: bodgery
    base_url: https://mms.thebodgery.org

password_storage:
    type: bcrypt
    bcrypt:
        difficulty: 10

# Create key with:
# python -c 'import secrets; print(secrets.token_hex())'
session:
  key:
  life_minutes: 60

oauth:
  expires_days: 180
  token_hex_length: 64

build_id:
build_branch:
build_date:
