{{> head }}

{{> top_nav }}

<form action="/add-tag" method="POST">
<p>RFID Tag #: <input type="text" id="rfid" name="rfid"></p>
<p>Member Name: <input type="text" id="name" name="name"></p>
<p><input type="submit" value="Add Tag"></p>
</form>

{{> foot }}
