{{> head }}

{{> top_nav }}

<form action="/create-oauth" method="POST">
<p>Name: <input type="text" id="name" name="name"></p>
<p><input type="submit" value="Create OAuth2 Token"></p>
</form>

{{> foot }}
