{{> head }}

{{> top_nav }}

<form action="/group-user-add" method="POST">
<p>New {{device_group}} user : <input type="text" id="add_group_user" name="add_group_user">
    <input type="hidden" name="device_group" value="{{device_group}}">
    <input type="submit" value="Add"></p>
</form>

<table id="group_user_table" border="1" cellpadding="2" cellspacing="2">
    <thead>
    <tr id="group_user_table_header">
        <th>Users</th>
        <th>Delete User</th>
    </tr>
    </thead>

    {{#users}}
    <tbody>
    <tr>
        <td> {{group_user_name}} </td>
        <td> 
            <form action="/group-user-delete" method="POST">
                <input type="hidden" name="device_group" value="{{device_group}}">
                <input type="hidden" name="del_group_user" value="{{group_user_name}}">
                <input type="submit" value="Delete User">
            </form>
        </td>
    </tr>
    </tbody>
    {{/users}}
</table>

{{> foot }}
