{{> head }}

{{> top_nav }}

<form action="/device-add" method="POST">
<p>New Device : <input type="text" id="add_device" name="add_device">
    <input type="hidden" name="device_group" value="{{device_group}}">
    <input type="submit" value="Add"></p>
</form>

<table id="device_table" border="1" cellpadding="2" cellspacing="2">
    <thead>
    <tr id="device_table_header">
        <th>Device</th>
        <th>Delete Device</th>
    </tr>
    </thead>

    {{#devices}}
    <tbody>
    <tr>
        <td> {{device_name}} </td>
        <td> 
            <form action="/device-delete" method="POST">
                <input type="hidden" name="device_group" value="{{device_group}}">
                <input type="hidden" name="del_device" value="{{device_name}}">
                <input type="submit" value="Delete Device">
            </form>
        </td>
    </tr>
    </tbody>
    {{/devices}}
</table>

{{> foot }}
