{{> head }}

{{> top_nav }}

<ul class="menu">
    <li>Member Tags
    <ul class="menu">
        <li><a href="/add-tag">Add New RFID</a></li>
        <li><a href="/view-tag-list">View RFID List</a></li>
        <li><a href="/search-scan-logs">View Entry Log</a></li>
        <li><a href="/device-list">View Devices</a></li>
        <li><a href="/mp-rfid-report">View MemberPress vs RFID Report</a></li>
    </ul>
    </li>
    <li>Controllers
    <ul class="menu">
        <li><a href="/create-oauth">Create OAuth Token</a></li>
    </ul>
    </li>
</ul>

{{> foot }}
