{{> head }}

<h1>{{page_name}}</h1>

{{> error }}

<form
    method="POST"
    action="/login"
    id="login"
>
    <ul>
        <li><label for="username">Username</label>
            <input type="text" name="username" id="username" autocomplete="username"></li>
        <li><label for="password">Password</label>
            <input type="password" name="password" id="password" autocomplete="password"></li>
    </ul>

    <p><input type="submit" value="Login" id="submit"></p>
</form>

{{> foot }}
