{{> head }}

{{> top_nav }}

<form method="GET" action="/search-scan-logs">
<p>Search for name (not yet implemented): <input type="text" id="search_name" name="search_name">
    <input type="submit" value="Search"></p>
</form>

<form method="GET" action="/search-scan-logs">
<p>Search for RFID tag: <input type="text" id="search_rfid" name="search_rfid">
    <input type="submit" value="Search"></p>
</form>

<table id="tag_table" border="1" cellpadding="2" cellspacing="2">
    <thead>
    <tr id="tag_table_header">
        <th>Name</th>
        <th>RFID Tag</th>
        <th>Active</th>
        <th>Found</th>
        <th>MMS ID</th>
        <th>Location</th>
        <th>Entry Time</th>
    </tr>
    </thead>

    <tbody>
    {{#tags}}
    <tr>
        <td>{{full_name}}</td>
        <td>{{rfid}}</td>
        <td>{{is_active_tag}}</td>
        <td>{{is_found_tag}}<?td>
        <td>{{mms_id}}</td>
        <td>{{location}}</td>
        <td>{{entry_time}}</td>
    </tr>
    {{/tags}}
    </tbody>
</table>

<form method="GET" action="/search-scan-logs">
    <input type="hidden" name="search_name" value="{{search_name}}">
    <input type="hidden" name="search_rfid" value="{{search_rfid}}">
    <input type="hidden" name="limit" value="{{limit}}">
    <input type="hidden" name="offset" value="{{next_offset}}">

    <p><input type="submit" value="Next"></p>
</form>

{{> foot }}
