<h1>{{page_name}}</h1>

<p id="top_menu">|
    <a href="/home">Home</a> |
    <a href="/view-tag-list">View RFID</a> |
    <a href="/search-scan-logs">View Log</a> |
    <a href="/device-list">View Devices</a> |
</p>

<p>Username:
    <span id="username">{{username}}</span>
    (<a href="/logout" id="logout_link">Logout</a>)
</p>

{{> error }}

{{#msg}}
<p id="msg"><strong>{{msg}}</strong></p>
{{/msg}}
