{{> head }}

{{> top_nav }}

<form action="/device-group-add" method="POST">
<p>New Device Group: <input type="text" id="add_device_group" name="add_device_group">
    <input type="submit" value="Add"></p>
</form>

<table id="device_group_table" border="1" cellpadding="2" cellspacing="2">
    <thead>
    <tr id="device_group_table_header">
        <th>Device Group</th>
        <th>Devices</th>
        <th>Users</th>
        <th>Delete Group</th>
        <th>Edit Devices</th>
        <th>Edit Users</th>
    </tr>
    </thead>

    {{#device_groups}}
    <tbody>
    <tr>
        <td> {{device_group}} </td>
        <td> {{devices}} </td>
        <td> {{user_count}} </td>
        <td>
            <form action="/device-group-delete" method="POST">
                <input type="hidden" name="del_device_group" value="{{device_group}}">
                <input type="submit" value="Delete Device Group"
                    {{#devices}} disabled {{/devices}}
                    {{#user_count}} disabled {{/user_count}}
                >
            </form>
        </td>
        <td> <a href="/edit-devices?device_group={{device_group}}">Edit Devices</a> </td>
        <td> <a href="/edit-group-users?device_group={{device_group}}">Edit Users</a> </td>
    </tr>
    </tbody>
    {{/device_groups}}
</table>

<p>A Device Group may only be deleted when it has no Devices and no Users</p>

{{> foot }}
