#error_list {
    color: red;
}

.lower_env_banner {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

.env_personal {
    background-color: red;
}

.env_dev {
    background-color: red;
}

.env_stage {
    background-color: yellow;
}

.env_prod {
    display: hidden;
}

.activate_button {
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.activate_form {
    margin-bottom: 0px;
}

.activate_cell {
    border: 0px;
}
