<html>
<head>
    <title>Bodgery Management - Login</title>
</head>
<body>

<h1>Login</h1>

<form
    method="POST"
    action="/login"
    id="login"
>
    <ul>
        <li><label for="username">Username</label>
            <input type="text" name="username" id="username"></li>
        <li><label for="password">Password</label>
            <input type="password" name="password" id="password"></li>
    </ul>

    <p><input type="submit" value="Login" id="submit"></p>
</form>

</body>
</html>
