<h1>{{page_name}}</h1>

<p>Username:
    <span id="username">{{username}}</span>
    (<a href="/logout" id="logout_link">Logout</a>)
</p>

{{> error }}

{{#msg}}
<p id="msg"><strong>{{msg}}</strong></p>
{{/msg}}
